<h1>All project groups</h1>

<p class="lead">
  This is a list of all the project groups currently on the site.
</p>
<p>
  Blackboard projects are organised by the skills, languages or tools needed to complete them. Each group will describe exactly what is required to get started.
</p>

<ul>
  <%= render @groups %>
</ul>