<h1>All projects</h1>

<p class="lead">
  This is a list of all the projects currently on the site.
</p>

<p>
  Blackboard projects are organised by the skills, languages or tools needed to complete them - you may find it easier to look for a new project on
  <%= link_to "the projects by type page.", groups_path %>
</p>

<ul>
  <%= render @projects %>
</ul>