<div class="text-center">
  <h1>Blackboard</h1>
  <p class="lead">These here are some words for talking about what the purpose of this thing is</p>
  <p> Here are some other, more in depth words, perhaps talking about where to go to get started with some links or
    something, basic stuff link that, etc
  </p>
</div>

<div class="row-fluid">
  <ul>
    <%= render @groups %>
  </ul>
</div>
