<div class="text-center">
  <h1>Blackboard</h1>
  <p class="lead">Blackboard is the codename for an application that will encourage people new to web development and programming in general to practise their skills.</p>
  <p> Tutorials and lessons are valuable, but the best learning is self-driven and comes from practising what you know. Blackboard aims to provide a collection of projects for beginners, complete with in-depth specifications and advice.
  </p>
</div>

<div class="row-fluid">
  <ul>
    <%= render @groups %>
  </ul>
</div>
